<div id="task__list">
  <div class="card">
    <h3 class="clearfix">
      {{ loadProjectTasks ? 'Project Tasks' : 'Task List' }}
      <a [routerLink]="['/dashboard/task/create']" [queryParams]="{ projectId: projectId }"
         class="button button--primary pull-right no-margin"
         *ngIf="isManaged">New Task</a>
    </h3>
    <app-filter [isTask]="true" (filterEmitter)="filterTasks($event)"></app-filter>
    <div class="table" *ngIf="!isLoading && taskList?.tasks!.length > 0">
      <table>
        <thead>
        <tr>
          <th>Task</th>
          <th *ngIf="loadProjectTasks">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of taskList?.tasks">
          <td>
            <div class="table__group">
              <label class="table__label">Name</label>
              <div class="table__content">
                <a [routerLink]="['/dashboard/task/details', task.id]">{{ task.name }}</a>
              </div>
            </div>
            <div class="table__group">
              <label class="table__label">Description</label>
              <div class="table__content">
                {{ task.description }}
              </div>
            </div>
            <div class="table__group">
              <label class="table__label">Duration</label>
              <div class="table__content">
                {{ task.startAt | date: 'dd MMM yyyy, hh:mm aa' }}
                - {{ task.endAt | date: 'dd MMM yyyy, hh:mm aa' }}
              </div>
            </div>
            <div class="table__group">
              <div class="row">
                <div class="col-lg-4">
                  <label class="table__label">Type</label>
                  <div class="table__content">
                    <label [ngClass]="determineTaskTypeTag(task.type)">{{ task.type | renameTaskType }}</label>
                  </div>
                </div>
                <div class="col-lg-4">
                  <label class="table__label">Completed?</label>
                  <div class="table__content">
                    <label [ngClass]="determineCompletionTag(task.completed)">{{ task.completed ? 'Yes' : 'No' }}</label>
                  </div>
                </div>
                <div class="col-lg-4">
                  <label class="table__label">Assigned To</label>
                  <div class="table__content">
                    <label *ngIf="task.user"
                           class="label-tag label-tag--success">{{ task.user.firstName }} {{ task.user.lastName }}</label>
                    <label *ngIf="!task.user" class="label-tag label-tag--danger">None</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="table__group" *ngIf="!loadProjectTasks">
              <label class="table__label">Project</label>
              <div class="table__content">
                <a [routerLink]="['/dashboard/project/details', task.project.id]">{{ task.project.name }}</a>
              </div>
            </div>
          </td>
          <td class="task__action" *ngIf="loadProjectTasks">
            <a [routerLink]="['/dashboard/task/edit', task.id]" class="button button--primary button--width-full"
               *ngIf="isManaged">Edit Task</a>
            <button class="button button--success button--width-full" *ngIf="!task.user && isManaged"
                    (click)="onToggleAssignTaskModal(task, true)">Assign Task
            </button>
            <button class="button button--danger button--width-full" *ngIf="task.user && isManaged"
                    (click)="onToggleAssignTaskModal(task, false)">Remove Task Assignment
            </button>
            <button class="button button--danger button--width-full" *ngIf="isManaged"
                    (click)="onToggleDeleteTaskModal(task)">Delete Task
            </button>
            <button class="button button--success button--width-full"
                    *ngIf="!task.completed && task.user && isUser(task.user.id)"
                    (click)="onToggleCompletionModal(task, true)">
              Mark As Completed
            </button>
            <button class="button button--danger button--width-full" *ngIf="task.completed && task.user && isUser(task.user.id)"
                    (click)="onToggleCompletionModal(task, false)">
              Mark As Incomplete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="pagination">
        <ul>
          <li *ngFor="let page of calculatePages()"
              [ngClass]="this.taskList?.pagination?.currentPage === page ? 'pagination--active' : ''">
            <a (click)="getPage(page)">
              <span>{{ page }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="svg__wrapper" *ngIf="!isLoading && taskList?.tasks!.length === 0">
      <img src="../../../../assets/svg/to-do-list.svg" alt="empty-tasks"/>
      <span class="svg-wrapper__text">No tasks found.</span>
    </div>
    <div class="load" *ngIf="isLoading"></div>
  </div>
</div>
