td {
  vertical-align: top;
}

td > .button {
  margin-bottom: 5px;
}

.task__completion,
.task__action {
  width: 300px;
}

.task__completion > span {
  display: inline-block;
  margin-bottom: 5px;
}
