<div class="row">
  <div class="col-lg-4">
    <div id="dashboard-notification__card" class="card">
      <label class="card-title">Recent Notifications</label>
      <span class="card-subtitle">Recently received notifications.</span>
      <div class="svg__wrapper">
        <img src="../../../assets/svg/bell.svg" alt="empty-notifications" />
        <span class="svg-wrapper__text">No notifications found.</span>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <label class="card-title">Upcoming Project Deadlines</label>
      <span class="card-subtitle">Prepare for your project deadlines.</span>
      <div class="svg__wrapper">
        <img src="../../../assets/svg/schedule.svg" alt="empty-project-deadlines" />
        <span class="svg-wrapper__text">No upcoming project deadlines found.</span>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <label class="card-title">Upcoming Task Deadlines</label>
      <span class="card-subtitle">Prepare for your task deadlines.</span>
      <div class="svg__wrapper">
        <img src="../../../assets/svg/to-do-list.svg" alt="empty-task-deadlines" />
        <span class="svg-wrapper__text">No upcoming task deadlines found.</span>
      </div>
    </div>
  </div>
</div>
