/******************************
  Image
*******************************/

.image-fluid {
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
}

.image-rounded {
  border-radius: 50%;
}

/******************************
  SVG
*******************************/

.svg__wrapper {
  text-align: center;
}

.svg__wrapper > object,
.svg__wrapper img {
  max-width: 100px;
  margin-bottom: 10px;
}

.svg-wrapper__text {
  display: block;
  font-weight: 600;
}

/******************************
  Media Queries
*******************************/

@media only screen and (max-width: 1024px) {
  .svg__wrapper > object,
  .svg__wrapper img {
    max-width: 50px !important;
  }
}
