<header id="header" xmlns="http://www.w3.org/1999/html">
  <div id="header__logo">
    <a [routerLink]="['/dashboard']">Notey</a>
  </div>
  <div id="header__user">
    <ul>
      <li>
        <div id="header__user-notifications">
          <div class="header__icon">
            <mat-icon (click)="onToggleNotification()">notifications</mat-icon>
            <div class="header__user-notification-number" (click)="onToggleNotification()">
              <span>{{ notificationCount }}</span>
            </div>
          </div>
          <app-notification [expandNotification]="expandNotification" (notificationNumberEmitter)="onUpdateNotificationCount($event)"></app-notification>
        </div>
      </li>
      <li>
        <div id="header__user-profile-image" (click)="expandDropdown = !expandDropdown">
          <div class="user__initials image-rounded">
            <span>{{ user?.firstName + ' ' + user?.lastName | nameInitials }}</span>
          </div>
          <div id="user__details">
            <span id="user-details__welcome">Hi, {{ user?.firstName }}!</span>
            <mat-icon>expand_more</mat-icon>
          </div>
          <div *ngIf="expandDropdown" class="dropdown">
            <ul>
              <li><a (click)="onLogout()">Logout</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <div class="hamburger">
          <span class="hamburger__line"></span>
          <span class="hamburger__line"></span>
          <span class="hamburger__line"></span>
        </div>
      </li>
    </ul>
  </div>
</header>
