/******************************
  Header
*******************************/

#header {
  display: flex;
  background-color: #ff6f6f;
  color: #F9F8F0;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

#header__logo {
  flex-basis: 100px;
  font-size: 24px;
  font-weight: 600;
  margin: auto 0;
}

#header__logo > a {
  color: #F6F6F6;
}

#header__user {
  margin-left: auto;
  text-align: right;
  position: relative;
}

#header__user-profile-image {
  position: relative;
  height: 60px;
  padding: 10px 0 10px 10px;
  text-align: left;
}

#header__user-profile-image > .user__initials {
  left: 10px;
  background-color: #f6f6f6;
  color: #ff6f6f;
}

#header__user-profile-image > img {
  background-color: #F7F7F7;
}

#header__user > ul > li {
  display: inline-block;
  margin-right: 10px;
  height: 60px;
  vertical-align: bottom;
}

#header__user > ul > li:nth-last-child(1) {
  margin-right: 0;
}

#header__user-notifications {
  display: flex;
  height: 100%;
  position: relative;
}

.header__icon {
  margin: auto;
  position: relative;
}

.header__icon > mat-icon {
  display: block;
  height: 30px;
  width: 30px;
  font-size: 30px;
}

.header__user-notification-number {
  position: absolute;
  height: 16px;
  width: 16px;
  font-size: 12px;
  background-color: #7f0000;
  left: 0;
  bottom: 0;
  text-align: center;
  border-radius: 50%;
}

.header__user-notification-number > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header__icon > mat-icon,
.header__user-notification-number {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header__user-profile-image,
#user__details {
  cursor: pointer;
}

#user__details {
  display: flex;
  padding-left: 50px;
  height: 100%;
}

#user-details__welcome {
  flex-grow: 1;
  padding-right: 10px;
}

#user__details > mat-icon {
  flex-basis: 14px;
  height: 14px;
  width: 14px;
  font-size: 14px;
}

#user-details__welcome,
#user__details > mat-icon {
  margin: auto;
}

#header__hamburger {
  display: none;
  height: 100%;
}

.hamburger {
  margin: auto;
  display: block;
  cursor: pointer;
}

.hamburger__line {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #ecf0f1;
  margin: 3px 0;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger > .hamburger__line:nth-child(1) {
  margin-top: 0;
}

.hamburger > .hamburger__line:nth-last-child(1) {
  margin-bottom: 0;
}

.hamburger--open > .hamburger__line:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.hamburger--open > .hamburger__line:nth-child(2) {
  opacity: 0;
}

.hamburger--open > .hamburger__line:nth-last-child(1) {
  transform: translateY(-5px) rotate(-45deg);
}

/******************************
  Media Queries
*******************************/

@media only screen and (max-width: 1024px) {
  #header__user-profile-image {
    display: none;
  }

  #header__hamburger {
    display: flex;
  }
}
