<nav id="sidebar">
  <div id="sidebar__user" class="sidebar__sections">
    <label>User</label>
    <div class="sidebar__navigation-links">
      <ul>
        <li>
          <div class="user__details">
            <div class="user__initials image-rounded">
              <span>{{ user?.firstName + ' ' + user?.lastName | nameInitials }}</span>
            </div>
            <span id="user-details__welcome" class="user-name">Hi, {{ user?.firstName }}!</span>
          </div>
        </li>
        <li><a (click)="onLogout()" appLink>Logout</a></li>
      </ul>
    </div>
  </div>
  <div id="sidebar__tools" class="sidebar__sections">
    <label>Quick Access</label>
    <div id="sidebar__quick-access">
      <a [routerLink]="['/dashboard/project/create']" class="button button--primary button--width-full">New Project</a>
    </div>
  </div>
  <div id="sidebar__navigation" class="sidebar__sections">
    <label>Management</label>
    <div class="sidebar__navigation-links">
      <ul>
        <li><a routerLinkActive="navigation-link--active" [routerLink]="['/dashboard/home']" appLink>Dashboard</a></li>
        <li><a routerLinkActive="navigation-link--active" [routerLink]="['/dashboard/project']" appLink>Project</a></li>
        <li><a routerLinkActive="navigation-link--active" [routerLink]="['/dashboard/task']" appLink>Task</a></li>
      </ul>
    </div>
  </div>
  <div id="sidebar__copyright" class="sidebar__sections">
    <label>Copyright &copy; 2021 | bernardawj</label>
    <div class="sidebar__navigation-links">
      <ul>
        <li><a href="https://www.github.com/bernardawj" target="_blank" appLink>My Github</a></li>
        <li><a href="https://www.linkedin.com/in/bernardawj" target="_blank" appLink>My LinkedIn</a></li>
        <li><a routerLinkActive="navigation-link--active" [routerLink]="['/dashboard/credits']" appLink>Credits</a></li>
      </ul>
    </div>
  </div>
</nav>
