<div class="row">
  <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8">
    <div class="card" [ngClass]="isLoading ? 'load' : ''">
      <h3>Project Details</h3>
      <div class="card__alert" *ngIf="!hasAccepted">
        {{ project?.manager?.firstName }} {{ project?.manager?.lastName }} has assigned you this project.
        <button (click)="onUpdateAcceptance(true)" class="button button--primary no-margin-bottom">Accept</button>
        <button (click)="onUpdateAcceptance(false)" class="button button--danger no-margin-bottom">Reject</button>
      </div>
      <div class="card-group">
        <label>Name</label>
        <p>{{ project?.name }}</p>
      </div>
      <div class="card-group">
        <label>Description</label>
        <p>{{ project?.description }}</p>
      </div>
      <div class="card-group">
        <label>Duration</label>
        <p>
          {{ project?.startAt | date: 'dd MMM yyyy hh:mm aa' }} - {{ project?.endAt | date: 'dd MMM yyyy, hh:mm aa' }}
        </p>
      </div>
      <div class="card-group">
        <a [routerLink]="['../../list']" class="button button--secondary">Back</a>
        <a [routerLink]="['../../edit', project?.id]" *ngIf="isManager" class="button button--primary">Edit</a>
      </div>
    </div>
  </div>
  <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-4">
    <div class="card" [ngClass]="isLoading ? 'load' : ''">
      <h3>Assigned Users</h3>
      <div class="card-group project__user">
        <div class="project__user-label">Project Manager</div>
        <div class="project__user-details">
          <div class="user__initials image-rounded" *ngIf="!isLoading">
            <span>{{ project?.manager?.firstName + ' ' + project?.manager?.lastName | nameInitials }}</span>
          </div>
          <div class="project__user-name" *ngIf="!isLoading">
            {{ project?.manager?.firstName + ' ' + project?.manager?.lastName }}
            <span *ngIf="isManager">(You)</span>
          </div>
        </div>
      </div>
      <div class="card-group project__user">
        <div class="project__user-label clearfix">
          Project Members
          <a class="pull-right manage-mode" (click)="onManageClick()"
             *ngIf="isManager">{{ manageUserMode ? 'Cancel' : 'Manage' }}</a>
        </div>
        <app-assign-user [manageUser]="manageUserMode" [project]="project"
                         (assignEvent)="onAssignUser($event)"></app-assign-user>
        <div *ngIf="project && project.assignedUsers && project.assignedUsers.length > 0; else noMembers">
          <div class="project__user-details" *ngFor="let user of project?.assignedUsers">
            <div class="user__initials image-rounded" *ngIf="!isLoading">
              <span>{{ user.firstName + ' ' + user.lastName | nameInitials }}</span>
            </div>
            <div class="project__user-name clearfix" *ngIf="!isLoading">
              {{ user.firstName + ' ' + user.lastName }}
              <span *ngIf="user.userId === userId">(You)</span> <span *ngIf="!user.hasAccepted">(Pending)</span>
              <a *ngIf="isManager && manageUserMode" (click)="onToggleRemoveUserAssignmentModal(user)"
                 class="pull-right manage-mode">Remove</a>
            </div>
          </div>
        </div>
        <ng-template #noMembers>
          <p>No members found.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <app-task-list-item [isManaged]="isManager" [loadProjectTasks]="true" [projectId]="project?.id"
                        [hasAccepted]="hasAccepted"></app-task-list-item>
  </div>
</div>
