<div class="row">
  <div class="col-lg-8">
    <h3>Project Details</h3>
    <div class="card">
      <div *ngIf="!hasAccepted" class="alert alert--info">
        {{ project?.manager?.firstName }} {{ project?.manager?.lastName }} has assigned you this project.
        <button (click)="onUpdateAcceptance(true)" class="button button--primary no-margin-bottom">Accept</button>
        <button (click)="onUpdateAcceptance(false)" class="button button--danger no-margin-bottom">Reject</button>
      </div>
      <div class="card-group">
        <label>Project Name</label>
        <p [ngClass]="isLoading ? 'load' : ''">{{ project?.name }}</p>
      </div>
      <div class="card-group">
        <label>Project Description</label>
        <p [ngClass]="isLoading ? 'load' : ''">{{ project?.description }}</p>
      </div>
      <div class="card-group">
        <label>Project Start Date</label>
        <p [ngClass]="isLoading ? 'load' : ''">{{ project?.startAt }}</p>
      </div>
      <div class="card-group">
        <label>Project End Date</label>
        <p [ngClass]="isLoading ? 'load' : ''">{{ project?.endAt }}</p>
      </div>
      <div class="card-group">
        <a [routerLink]="['../../list']" class="button button--secondary">Back</a>
        <a [routerLink]="['../../edit', project?.id]" *ngIf="isManager" class="button button--primary">Edit</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <h3>Assigned Users</h3>
    <div class="card">
      <div class="card-group project__user">
        <div class="project__user-label">Project Manager</div>
        <div class="project__user-details" [ngClass]="isLoading ? 'load' : ''">
          <div class="user__initials image-rounded" *ngIf="!isLoading">
            <span>{{ project?.manager?.firstName + ' ' + project?.manager?.lastName | nameInitials }}</span>
          </div>
          <div class="project__user-name" *ngIf="!isLoading">
            {{ project?.manager?.firstName + ' ' + project?.manager?.lastName }}
            <span *ngIf="isManager">(You)</span>
          </div>
        </div>
      </div>
      <div class="card-group project__user">
        <div class="project__user-label clearfix">
          Project Members
          <a [routerLink]="['assign']" class="pull-right">Manage</a>
        </div>
        <div class="project__user-details" [ngClass]="isLoading ? 'load' : ''" *ngFor="let user of project?.assignedUsers">
          <div class="user__initials image-rounded" *ngIf="!isLoading">
            <span>{{ user.firstName + ' ' + user.lastName | nameInitials }}</span>
          </div>
          <div class="project__user-name" *ngIf="!isLoading">
            {{ user.firstName + ' ' + user.lastName }}
            <span *ngIf="user.userId === 2">(You)</span>
            <span *ngIf="!user.hasAccepted">(Pending)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
