#content {
  position: absolute;
  left: 300px;
  width: calc(100% - 300px);
  height: calc(100% - 60px);
  overflow-y: scroll;
}

/******************************
  Media Queries
*******************************/

@media only screen and (max-width: 1024px) {
  #content {
    position: relative;
    width: 100%;
    left: initial;
  }
}
