<div id="task">
  <h3 class="clearfix">
    Project Tasks
    <a [routerLink]="['/dashboard/task/create']" class="button button--primary pull-right no-margin" *ngIf="isManaged">New Task</a>
  </h3>
  <div class="table">
    <table *ngIf="!isLoading && tasks!.length > 0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th>Completed?</th>
          <th>Start At</th>
          <th>End At</th>
          <th>Taken By</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.name }}</td>
          <td>{{ task.description }}</td>
          <td>
            <label [ngClass]="determineTaskTypeTag(task.type)">{{ task.type | renameTaskType }}</label></td>
          <td>{{ task.isCompleted }}</td>
          <td>{{ task.startAt | date: 'short' }}</td>
          <td>{{ task.endAt | date: 'short' }}</td>
          <td>
            <span *ngIf="task.user">
              {{ task.user.firstName }} {{ task.user.lastName }}
            </span>
            <span *ngIf="!task.user">
              None
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="svg__wrapper" *ngIf="!isLoading && tasks!.length === 0">
      <img src="../../../../assets/svg/to-do-list.svg" alt="empty-tasks" />
      <span class="svg-wrapper__text">No tasks found.</span>
    </div>
    <div class="load" *ngIf="isLoading"></div>
  </div>
</div>
