<div id="filter">
  <div class="filter__header" (click)="toggled = !toggled">
    <h3 class="clearfix">
      Filter
      <mat-icon class="pull-right">{{ toggled ? 'expand_less' : 'expand_more' }}</mat-icon>
    </h3>
  </div>
  <div class="filter__body" *ngIf="toggled">
    <form [formGroup]="filterForm" (ngSubmit)="onFilter()">
      <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-3 no-margin-bottom">
          <div class="form__group">
            <label for="search">Search</label>
            <input type="text" id="search" formControlName="search" class="form__control"/>
          </div>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-3 no-margin-bottom" *ngIf="isTask">
          <div class="form__group">
            <label for="type">Type</label>
            <select id="type" formControlName="type" class="form__control">
              <option value="" selected="selected">-- Select Type --</option>
              <option value="NON_URGENT">Non-Urgent</option>
              <option value="URGENT">Urgent</option>
            </select>
          </div>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-3 no-margin-bottom" *ngIf="isTask">
          <div class="form__group">
            <label for="completed">Completion</label>
            <select id="completed" formControlName="completed" class="form__control">
              <option value="" selected="selected">-- Select Completion --</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="filter?.searchString || getTaskFilter()?.type || getTaskFilter()?.completed !== null">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 no-margin-bottom">
          <div class="form__group">
            <label>Filtered By</label>
            <br/>
            <div>
              <label class="label-tag label-tag--info" *ngIf="filter?.searchString">
                Search String: {{ filter?.searchString }}
              </label>
              <label class="label-tag label-tag--info" *ngIf="getTaskFilter()?.type !== null">
                Type: {{ getTaskFilter()?.type === 'URGENT' ? 'Urgent' : 'Non-Urgent' }}
              </label>
              <label class="label-tag label-tag--info" *ngIf="getTaskFilter()?.completed !== null">
                Completion: {{ getTaskFilter()?.completed === true ? 'Completed' : 'Incomplete' }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 no-margin-bottom">
          <div class="form__group">
            <button type="submit" class="button button--secondary button--width-full">Filter</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
