<div id="filter">
  <div class="filter__header" (click)="toggled = !toggled">
    <h3 class="clearfix">
      Filter
      <mat-icon class="pull-right">{{ toggled ? 'expand_less' : 'expand_more' }}</mat-icon>
    </h3>
  </div>
  <div class="filter__body" *ngIf="toggled">
    <form [formGroup]="filterForm" (ngSubmit)="onFilter()">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label for="search">Search</label>
            <input type="text" id="search" formControlName="search" class="form-control" />
          </div>
          <div class="form-group">
            <button type="submit" class="button button--secondary button--width-full">Filter</button>
          </div>
        </div>
        <div class="col-lg-9" *ngIf="currentFilter">
          <div class="form-group">
            <label>Filtered</label>
            <br />
            <label class="label-tag label-tag--info">{{ currentFilter }}</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
