<div class="project__list">
  <div class="card">
    <h3 class="clearfix">
      {{ isManaged ? 'Managed' : 'Assigned' }} Project List
      <a [routerLink]="['../create']" class="button button--primary pull-right no-margin" *ngIf="isManaged">New Project</a>
    </h3>
    <app-filter (filterEmitter)="filterProjects($event)"></app-filter>
    <div class="table" *ngIf="!isLoading && projectList?.projects!.length > 0">
      <table>
        <thead>
        <tr>
          <th>Project</th>
          <th *ngIf="isManaged" class="project__action">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projectList?.projects">
          <td>
            <div class="table-group">
              <label>Name</label>
              <p><a [routerLink]="['/dashboard/project/details', project.id]">{{ project.name }}</a></p>
            </div>
            <div class="table-group">
              <label>Description</label>
              <p>{{ project.description }}</p>
            </div>
            <div class="table-group">
              <label>Duration</label>
              <p>{{ project.startAt | date: 'dd MMM yyyy, hh:mm aa' }} - {{ project.endAt | date: 'dd MMM yyyy, hh:mm aa' }}</p>
            </div>
          </td>
          <td *ngIf="isManaged">
            <a [routerLink]="['/dashboard/project/edit', project.id]" class="button button--primary button--width-full">Edit Project</a>
            <button (click)="onToggleDeleteModal(project)" class="button button--danger button--width-full">Delete Project</button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="pagination">
        <ul>
          <li *ngFor="let page of calculatePages()"
              [ngClass]="this.projectList?.pagination?.currentPage === page ? 'pagination--active' : ''">
            <a (click)="getPage(page)">
              <span>{{ page }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="svg__wrapper" *ngIf="!isLoading && projectList?.projects!.length === 0">
      <img src="../../../../assets/svg/folder.svg" alt="empty-project" />
      <span class="svg-wrapper__text">No projects found.</span>
    </div>
    <div class="load" *ngIf="isLoading"></div>
  </div>
</div>
