<div class="project__list">
  <div class="card" [ngClass]="isLoading ? 'load' : ''">
    <h3 class="clearfix">
      {{ isManaged ? 'Managed' : 'Assigned' }} Project List
      <a [routerLink]="['../create']" class="button button--primary pull-right no-margin" *ngIf="isManaged">New
        Project</a>
    </h3>
    <app-filter [isTask]="false" (filterEmitter)="filterProjects($event)"></app-filter>
    <div class="table" *ngIf="projectList?.projects && projectList?.projects!.length > 0">
      <table>
        <thead>
        <tr>
          <th>Project</th>
          <th *ngIf="isManaged" class="table__action">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projectList?.projects">
          <td>
            <div class="table__group">
              <label class="table__label">Name</label>
              <div class="table__content">
                <a [routerLink]="['/dashboard/project/details', project.id]">{{ project.name }}</a>
              </div>
            </div>
            <div class="table__group">
              <label class="table__label">Description</label>
              <div class="table__content">
                {{ project.description }}
              </div>
            </div>
            <div class="table__group">
              <label class="table__label">Duration</label>
              <div class="table__content">
                {{ project.startAt | date: 'dd MMM yyyy, hh:mm aa' }}
                - {{ project.endAt | date: 'dd MMM yyyy, hh:mm aa' }}
              </div>
            </div>
            <div class="table__group table__group-action">
              <label class="table__label">Actions</label>
              <a [routerLink]="['/dashboard/project/edit', project.id]" class="button button--primary button--width-full">Edit
                Project</a>
              <button (click)="onToggleDeleteModal(project)" class="button button--danger button--width-full">Delete
                Project
              </button>
            </div>
          </td>
          <td class="table__action" *ngIf="isManaged">
            <a [routerLink]="['/dashboard/project/edit', project.id]" class="button button--primary button--width-full">Edit
              Project</a>
            <button (click)="onToggleDeleteModal(project)" class="button button--danger button--width-full">Delete
              Project
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="pagination">
        <ul>
          <li *ngFor="let page of calculatePages()"
              [ngClass]="projectList?.pagination?.currentPage === page ? 'pagination--active' : ''">
            <a (click)="getPage(page)">
              <span>{{ page }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="svg__wrapper" *ngIf="projectList?.projects && projectList?.projects!.length === 0">
      <img src="../../../../assets/svg/folder.svg" alt="empty-project"/>
      <span class="svg-wrapper__text">No projects found.</span>
    </div>
  </div>
</div>
