<div id="recent-projects">
  <h3>Recently Viewed Projects</h3>
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <label class="card-title">Project #1</label>
        <p class="card-content">Project Description</p>
        <span class="card-data project-date">Due at 6/8/2021</span>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <label class="card-title">Project #1</label>
        <p class="card-content">Project Description</p>
        <span class="card-data project-date">Due at 6/8/2021</span>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <label class="card-title">Project #1</label>
        <p class="card-content">Project Description</p>
        <span class="card-data project-date">Due at 6/8/2021</span>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <label class="card-title">Project #1</label>
        <p class="card-content">Project Description</p>
        <span class="card-data project-date">Due at 6/8/2021</span>
      </div>
    </div>
  </div>
</div>
