<div class="card" [ngClass]="isLoading ? 'load' : ''">
  <h3>{{ isEdit ? 'Edit Project' : 'Create Project' }}</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form__group">
      <label for="name">Project Name <span class="text--required">*</span></label>
      <input type="text" id="name" formControlName="name" class="form__control"/>
      <span class="form__validation" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">Please enter a valid project name (max. of 50 characters).</span>
    </div>
    <div class="form__group">
      <label for="description">Project Description <span class="text--required">*</span></label>
      <textarea id="description" formControlName="description" class="form__control" rows="6"></textarea>
      <span class="form__validation" *ngIf="form.get('description')?.invalid && form.get('description')?.touched">Please enter a valid project description (max. of 255 characters).</span>
    </div>
    <div class="form__group">
      <label for="startAt">Start At <span class="text--required">*</span></label>
      <input type="datetime-local" id="startAt" formControlName="startAt" class="form__control"/>
      <span class="form__validation" *ngIf="form.get('startAt')?.invalid && form.get('startAt')?.touched">Please enter a valid project start date.</span>
    </div>
    <div class="form__group">
      <label for="endAt">End At <span class="text--required">*</span></label>
      <input type="datetime-local" id="endAt" formControlName="endAt" class="form__control"/>
      <span class="form__validation" *ngIf="form.get('endAt')?.invalid && form.get('endAt')?.touched">Please enter a valid project end date.</span>
    </div>
    <div class="form__group">
      <a (click)="goBack()" class="button button--secondary">Back</a>
      <button type="submit" class="button button--primary"
              [disabled]="form?.invalid">{{ !isEdit ? 'Create' : 'Update' }}</button>
    </div>
  </form>
</div>
